<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.athreyaanand.insider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="INSIDER"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.Transparent"
        android:windowSoftInputMode="stateHidden|adjustPan">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LobbyActivity"
            android:label="@string/title_activity_lobby"
            android:theme="@style/AppTheme.NoActionBar.Transparent" />
        <activity
            android:name=".TabbedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>